@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Sacramento&family=Stalemate&display=swap');

@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Arima Madurai', cursive;
	@apply uppercase;
}

body, .loader {
	@apply bg-zinc-200;
}

.main-content {
	@apply overflow-x-hidden overflow-y-visible h-screen;
}

.couple-names {
	font-family: 'Stalemate', cursive;
	@apply normal-case;
}

.handwriting {
	font-family: 'Sacramento', cursive;
	@apply normal-case;
}

@layer components {
	.card {
		@apply bg-white rounded-lg shadow-xl overflow-hidden;
		.img {
			@apply relative overflow-hidden h-auto md:h-[18rem];
			img {
				@apply hover:scale-125 transition-all duration-500;
			}
		}
		.body {
			@apply p-6 flex flex-col justify-around gap-6 items-center;
			.title, { @apply subtitle; }
			.address { @apply text-center; }
			.time { @apply text-3xl handwriting }
		}
		.actions {
			@apply flex justify-center pt-3 pb-7;
		}
	}

	.btn {
		@apply
			flex items-center p-2 gap-x-2 text-sm
			md:p-3 md:gap-x-3 md:text-base
			uppercase rounded-md font-semibold
			transition-all duration-500;
	}

	.button {
		@apply btn bg-primary text-white hover:bg-secondary;

		&-outline {
			@apply btn py-1 px-2 md:py-2 md:px-3 border-2 border-primary hover:bg-primary hover:text-white;

			&-secondary { @apply btn py-1 px-2 md:py-2 md:px-3 border-2 border-secondary hover:bg-secondary hover:text-white; }
		}
	}

	.section { @apply py-20 relative; }

	.headline { @apply handwriting text-5xl text-center; }
	.subtitle { @apply handwriting text-4xl text-center; }

	.schedule-icon { @apply h-12 w-auto; }

	.people-item { @apply tracking-wide p-1 text-lg; }

	.thumbnail { @apply w-full h-full object-cover; }
}
